@import "tailwindcss";
.hideScroll {
    overflow: hidden;
  }
  
  .showScroll {
    overflow: auto;
  }

  
  
  /* Hide floating icons when mobile menu is open */
  body.mobile-menu-open .floating-socials {
    display: none;
  }